@import url("https://fonts.googleapis.com/css2?family=Inter&family=Raleway:ital,wght@0,700;0,900;1,700&display=swap");

/*Sources for grid: 
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout
https://developer.mozilla.org/en-US/docs/Web/CSS/minmax
https://www.w3schools.com/css/css_grid.asp
https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b
*/

#dunneHereVid {
  width: 40vw;
}

#logoAnimation {
  background-color: #100d17; /* Black background with opacity */
  position: fixed; /* Sit on top of the page content */
  
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000; /* Specify a stack order in case you're using a different order for other elements */
  justify-content: center;
  align-items: center;
}

#logoAnimationVid {
  width: 100vw;
  height: auto;
}

.webTxt,
.webTxtT,
.webTxtD {
  cursor: pointer;
}

#buttonMarg2 {
  padding-bottom: 0;
}

.buttonMarg {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
#centerside {
  align-items: center;
}

.webTxtT {
  margin: 0;
  margin-left: 100px;
  z-index: 100;
  margin-right: 50px;
  margin-top: 15px;
}

.webTxtD {
  margin: 0;
  margin-top: 12px;
  margin-left: 100px;
  z-index: 100;
  margin-right: 61px;
}

.webTxt {
  margin: 0;
  margin-left: 100px;
  z-index: 100;
  margin-right: 61px;
}

#webProjCoverImg {
  display: flex;
  max-width: 75vw;
  justify-content: center;
}

#webProjSketch {
  max-width: 15vw;
  margin-right: 5vh;
  margin-bottom: 5vh;
}

.webProjImg {
  width: 60vw;
  margin-top: 7vh;
}

.webProjImgSize {
  width: 50%;
}

.webProjImgSect {
  display: flex;
  justify-content: center;
}

.webProjImgSide {
  display: flex;
  max-width: 75vw;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: none;
  width: max-content;
}

.webProjLand {
  width: 75vw;
}

#webProjh1 {
  margin: 0;
  margin-top: 2vh;
  margin-bottom: 32px;
}

.webProjh3 {
  margin-top: 3.5vh;
  margin-bottom: 0px;
}

.webProjh2 {
  margin-top: 15vh;
  margin-bottom: 0px;
}

.webProjp {
  margin-top: 0px;
  margin-bottom: 0px;
}
#fug {
  margin-left: 5vw;
}

body {
  background-color: #100d17;
  display: grid;
  grid-template-columns: minmax(min-content, 167px) minmax(min-content, 500px) auto;
  grid-template-rows: repeat(1, 1fr) auto;
  /*grid-template-rows: repeat(5, 1fr) auto; */
  min-height: 100vh;
  margin: 0px;
}

body#illusBod {
  grid-template-rows: repeat(2, 1fr) auto;
}

body.grid2 {
  grid-template-columns: minmax(min-content, 167px) 1fr 1fr;
  grid-template-rows: 1fr auto;
}

body.grid3 {
  grid-template-columns: minmax(min-content, 167px) 1fr auto;
  grid-template-rows: 1fr auto;
  overflow-x: hidden;
}

html {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Rotating Img Source: http://thenewcode.com/279/Rotate-Elements-on-Scroll-with-JavaScript */
section.rCgrid {
  grid-column: 3;
  grid-row: 1;
  z-index: -100;
}

section.rCflex {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-top: 119px;
}

section.contactC {
  z-index: -100;
  grid-column: 2;
  margin-left: 99px;
  grid-row: 1;
}

section.contactCflex {
  flex-direction: column;
  margin-top: 150px;
}

#contactC {
  position: fixed;
}

.aboutC {
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: -100;
}

#aboutC {
  position: fixed;
}

.aboutimg {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 180px;
  z-index: 100;
}

#aboutimg {
  z-index: 100;
  margin-left: 4px;
}

.aboutimgMobile {
  display: none;
}

#abouth2 {
  margin: 0;
  margin-top: 147px;
  margin-bottom: 32px;
}

#abouth3 {
  margin: 0;
  margin-bottom: 100px;
}

.rotatingC {
  z-index: -100;
  width: 528px;
  height: 528px;
  align-self: center;
  position: fixed;
}

section.one {
  grid-column: 1;
  grid-row: 1 / 6;
}

#workbiline {
  position: fixed;
  max-width: 527px;
}

#illusMidline {
  margin: 0;
  margin-top: 199px;
}

.workbilineM {
  margin: 0;
}

.workbilineMtop {
  margin: 0;
  margin-top: 119px;
  margin-bottom: -12px;
}

.workbilineMbot {
  margin: 0;
}

.portfolio {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  z-index: 100;
  margin-top: 20vh;
  /*margin-top: 7%; */
}

.portimg {
  display: flex;
  position: relative;
  align-self: center;

  /*z-index: 100; */
}

.topportimg {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  margin-top: 119px;
}

.port_illus {
  max-width: 304px;
}

/*
#top_illus {
  margin-top: 50px;
}
*/

.land_illus {
  max-width: 304px;
  max-width: 450px;
}

.porttxt {
  margin: 0;
  margin-left: 152px;
  z-index: 100;
  margin-right: 61px;
}

.porttxtT {
  margin: 0;
  margin-left: 152px;
  z-index: 100;
  margin-right: 50px;
  margin-top: 15px;
}

.porttxtD {
  margin: 0;
  margin-top: 12px;
  margin-left: 152px;
  z-index: 100;
  margin-right: 61px;
}

section.two {
  overflow-y: hidden;
  grid-column: 2;
  max-width: fit-content;
  margin-left: 60px;
  grid-row: 1 / 3;
}

section.twoAB2 {
  grid-column: 2;
  max-width: 75vw;
  margin-left: 99px;
  grid-row: 1 / 3;
}

section.twoAB {
  grid-column: 2;
  max-width: fit-content;
  margin-left: 99px;
  grid-row: 1 / 3;
}

section.contacttwo {
  grid-column: 2 / 4;
  margin-left: 99px;
  grid-row: 1 / 3;
}

.portimg1 {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

section.three {
  grid-column: 3;
  grid-row: 1;
  z-index: 100;
}

section.threeAB {
  grid-column: 3;
  grid-row: 1;
  z-index: 100;
}

section.four {
  grid-column: 3;
  grid-row: 2;
  z-index: 100;
}

section.five {
  grid-column: 3;
  grid-row: 3;
  z-index: 100;
}

section.six {
  grid-column: 3;
  grid-row: 4;
  z-index: 100;
}

section.seven {
  grid-column: 3;
  grid-row: 5;
  z-index: 100;
}

section.eight {
  grid-column: 2 / 4;
  grid-row: 6;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 100;
}

section.eightillus {
  grid-column: 3;
  grid-row: 6;
  z-index: 100;
}

section.nine {
  grid-column: 3;
  grid-row: 7;
  z-index: 100;
}

section.ten {
  grid-column: 3;
  grid-row: 8;
  z-index: 100;
}

section.eleven {
  grid-column: 3;
  grid-row: 9;
  z-index: 100;
}

section.twelve {
  grid-column: 3;
  grid-row: 10;
  z-index: 100;
}

section.thirteen {
  grid-column: 3;
  grid-row: 11;
  z-index: 100;
}

section.fourteen {
  grid-column: 3;
  grid-row: 12;
  z-index: 100;
}

section.fifteen {
  grid-column: 3;
  grid-row: 13;
  z-index: 100;
}

section.sixteen {
  grid-column: 3;
  grid-row: 14;
  z-index: 100;
}

section.seventeen {
  grid-column: 3;
  grid-row: 15;
  z-index: 100;
}

section.eighteen {
  grid-column: 3;
  grid-row: 16;
  z-index: 100;
}

section.nineteen {
  grid-column: 3;
  grid-row: 17;
  z-index: 100;
}

section.twenty {
  grid-column: 3;
  grid-row: 18;
  z-index: 100;
}

section.twentyone {
  grid-column: 3;
  grid-row: 19;
  z-index: 100;
}

section.footersection {
  grid-column: 2 / 4;
  grid-row: 100;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 100;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 96px;
  font-weight: 900;
  color: #e9e0c2;
  line-height: 90px;
  letter-spacing: -3px;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 54px;
  line-height: normal;
  font-weight: 900;
  color: #e9e0c2;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #e9e0c2;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #e9e0c2;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #e9e0c2;
  line-height: 30px;
}

.footertxtsize {
  display: contents;
  font-size: 13px;
}

.Mfootertxtsize {
  display: none;
}

/*#typComp {
  width: 28vw;
} */

/*Text input
Sources: 
https://blog.logrocket.com/how-to-style-forms-with-css-a-beginners-guide/
https://blog.hubspot.com/website/html-text-box
*/

#contacth2 {
  margin: 0;
  margin-top: 150px;
  max-width: 700px;
}

#contacth4 {
  margin: 0;
  margin-top: 5px;
}

form {
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

label {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #e9e0c2;
}

:placeholder-shown {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #100d17;
}

input,
textarea {
  padding: 5px;
  padding-left: 20px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #e9e0c2;
  line-height: 30px;
  background-color: #221c31;
  text-decoration: none;
  border: none;
  margin-bottom: 15px;
}

input.name {
  width: 523px;
}

input.email {
  width: 523px;
}

textarea.message {
  width: 753px;
}

#submissionB {
  display: flex;
  align-items: flex-start;
}

/*Source: https://uiverse.io/detail/mrhyddenn/modern-puma-17*/
button.shake {
  display: flex;
  width: 196px;
  height: 55px;
  color: #1e1e1e;
  font-weight: 500;
  padding: 3px;
  padding-bottom: 5px;
  padding-left: 32px;
  padding-right: 16.16px;
  outline: none;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  justify-content: space-between;
  background-color: #987701;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #100d17;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

a#txtlink {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #987701;
  line-height: 30px;
  font-weight: 400;
  text-decoration: underline;
}

a#txtlink:hover {
  color: #e9e0c2;
}

/*Links*/
a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #e9e0c2;
}

a:hover,
a.navactive {
  color: #987701;
  transition: 0.5s ease;
}

nav.one {
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #221c31;
  border-top-right-radius: 70px;
  padding-top: 35px;
  /*padding-right: 32px; 
  padding-top: 35px;
  padding-right: 26px;
  padding-left: 50px;
  padding-right: 1.5vw;
  padding-left: 3.5vw;*/
  padding-right: 26px;
  padding-left: 50px;
}

.mobileHeaderGrid {
  display: none;
}

#mobileNav {
  display: none;
}

section.navsection {
  display: flex;
  /*margin-top: 200px; */
  margin-top: 25vh;
  flex-direction: column;
  justify-content: space-between;
  /*height: 170px; */
  height: 25vh;
  /*align-items: flex-end; */
}

section.bodysection {
  display: flex;
}

footer {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  /*height: 100%;
  height: 252px; */
  min-height: fit-content;
  height: 31vh;
  bottom: 0px;
  background-color: #221c31;
  border-top-right-radius: 70px;
}

img.footvector {
  display: flex;
  align-self: start;
  margin-bottom: -2px;
  margin-left: 34px;
}

section.footer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 170.95px;
  margin-top: 56px;
  margin-bottom: 84px;
}

section.footercopyright {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.burgerbod {
  display: none;
}

.menu {
  display: none;
}

.mobileLogo {
  display: none;
}

.overlayhover {
  background-color: #e9e0c2;
  opacity: 0;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

.overlayhover2 {
  background-color: #e9e0c2;
  opacity: 0;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}

@media (pointer: fine) {
  .portimg:hover .overlayhover2 {
    opacity: 0.2;
  }

  .topportimg:hover .overlayhover {
    opacity: 0.2;
  }
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.637); /* Black background with opacity */
  z-index: 10000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  justify-content: center;
  align-items: center;
}

.overlaylandscape {
  height: 95vh;
}

.dunneHereoverlaylandscape {
  width: 95vw;
}


.overlayportrait {
  height: 95vh;
  margin: auto;
  align-self: center;
  justify-self: center;
  position: absolute;
}
#text {
  position: absolute;
  margin: auto;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.typimgwidth {
  max-width: 304px;
  /*margin-top: 200px; */
}

.toptypimgwidth {
  max-width: 304px;
  /*margin-top: 0px; */
}

.vidimgwidth {
  width: 60vw;
  max-width: 500px;
  /*margin-top: 200px; */
}

.imgwidth {
  max-width: 60vw;
  width: 200%;
}

.imgwidth2 {
  width: 100%;
  max-width: 60vw;
}

@media screen and (max-width: 600px) {

#dunneHereVid {
  width: 80vw;
}

  body {
    background-color: #100d17;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1, 1fr) auto;
    min-height: 100vh;
    margin: 0px;
  }

  #logoAnimationVid {
  width: auto;
  height: 100vh;
}

  body#illusBod {
    grid-template-rows: repeat(1, 1fr) auto;
  }

  body.grid2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  body.grid3 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .overlaylandscape {
    width: 93vw;
    height: auto;
  }
  .dunneHereoverlaylandscape {
  width: 95vw;
}

  .overlayportrait {
    width: 93vw;
    height: auto;
    margin: auto;
    align-self: center;
    justify-self: center;
    position: absolute;
  }

  .mobileHeaderGrid {
    display: contents;
    position: fixed;
    grid-column: 1;
    width: 100%;
    grid-row: 1;
    display: flex;

    justify-content: space-between;
    background-color: #221c31;
    border-bottom-left-radius: 50px;
    height: 11vh;
    z-index: 1000;
  }

  .mobileLogo {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    left: 0px;

    border-bottom-right-radius: 50px;
    padding-right: 25px;
    padding-left: 15px;
    padding-bottom: 0px;
  }

  #mobileLogoImg {
    width: 35vw;
  }

  nav.one {
    position: fixed;
    overflow: hidden;
    display: none;
    flex-direction: column;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #221c31;
    border-top-right-radius: 70px;
    padding-top: 35px;
    padding-right: 32px;
    padding-left: 50px;
  }

  section.navsection {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    align-items: flex-end;
  }

  section.navsectionB {
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    margin-left: 10vw;
    margin-bottom: 15vh;
  }

  #workbiline {
    position: relative;
    max-width: 527px;
  }

  .workbilineM {
    margin: 0;
  }

  #illusMidline {
    margin: 0;
    margin-top: 275px;
  }

  .land_illus {
    max-width: 80vw;
  }

  .workbilineMtop {
    margin: 0;
    margin-top: 251px;
    margin-bottom: -12px;
  }

  .workbilineMbot {
    margin: 0;
  }

  .portfolio {
    position: relative;
    max-width: 527px;
    flex-direction: column;
  }

  #fug {
    margin-left: 0;
  }

  .portimg {
    display: flex;
    align-self: center;
    /*margin-top: 80px; */
    z-index: 100;
    max-width: 80vw;
    cursor: pointer;
  }

  .topportimg {
    display: flex;
    align-self: center;
    margin-top: 230px;
  }

  .porttxt {
    margin-top: 0px;
    z-index: 100;
    margin-left: 50px;
  }

  .porttxtT {
    margin: 0;
    z-index: 100;
    margin-left: 50px;
    margin-top: 15px;
  }

  .porttxtD {
    margin: 0;
    margin-top: 12px;
    margin-left: 50px;
    z-index: 100;
    margin-right: 61px;
  }

  .webTxtT {
    margin: 0;
    margin-left: 50px;
    z-index: 100;
    margin-right: 50px;
    margin-top: 15px;
  }

  .webTxtD {
    margin: 0;
    margin-top: 12px;
    margin-left: 50px;
    z-index: 100;
    margin-right: 61px;
  }

  .webTxt {
    margin: 0;
    margin-left: 50px;
    z-index: 100;
    margin-right: 61px;
  }

  section.rCgrid {
    margin-top: 40px;
    grid-row: 1/7;
    grid-column: 1;
    z-index: -1;
  }

  section.rCflex {
    display: flex;
    overflow: hidden;
    top: 10px;
  }

  .rotatingC {
    z-index: -100;
    width: 88vw;
    height: 88vw;
    align-self: center;
    position: fixed;
  }

  section.twoAB {
    grid-column: 1;
    max-width: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    grid-row: 1 / 3;
  }

  section.twoAB2 {
    grid-column: 1;
    max-width: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    grid-row: 1 / 3;
  }

  section.contacttwo {
    grid-column: 1;
    overflow-x: hidden;
    max-width: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    grid-row: 1 / 3;
  }

  .portimg1 {
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  section.threeAB {
    grid-column: 1;
    grid-row: 1;
    z-index: 100;
  }

  .aboutimg {
    display: none;
    align-self: center;
    justify-content: center;
    margin-top: 180px;
    z-index: 100;
  }
  #aboutimg {
    z-index: 100;
    margin-left: 4px;
    width: 50vw;
  }

  .aboutimgMobile {
    display: contents;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 200px;
    z-index: 100;
  }

  #abouth2 {
    margin: 0;
    margin-top: 4vh;
    margin-bottom: 5px;
  }

  .aboutC {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1/2;
    z-index: -100;
  }

  #aboutC {
    position: fixed;
    width: 200vw;
    align-self: center;
  }

  section.one {
    display: none;
  }

  section.two {
    max-width: fit-content;
    margin-left: 60px;
    grid-column: 1;
    grid-row: 1;
    overflow-x: hidden;
  }

  section.three {
    grid-row: 2;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.four {
    grid-row: 3;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.five {
    grid-row: 4;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.six {
    grid-row: 5;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.seven {
    grid-row: 6;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.eight {
    grid-row: 7;
    grid-column: 1;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 100;
    max-width: 100vw;
    overflow-x: hidden;
  }

  section.eightillus {
    grid-row: 7;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.nine {
    grid-row: 8;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.ten {
    grid-row: 9;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.eleven {
    grid-row: 10;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.twelve {
    grid-row: 11;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.thirteen {
    grid-row: 12;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.fourteen {
    grid-row: 13;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.fifteen {
    grid-row: 14;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.sixteen {
    grid-row: 15;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.seventeen {
    grid-row: 16;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.eighteen {
    grid-row: 17;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.nineteen {
    grid-row: 18;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.twenty {
    grid-row: 19;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.twentyone {
    grid-row: 20;
    grid-column: 1;
    z-index: 100;
    overflow-x: hidden;
  }

  section.footersection {
    grid-row: 100;
    grid-column: 1;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 100;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .imgwidth {
    width: 200%;
  }

  .typimgwidth {
    max-width: 304px;
  }

  .vidimgwidth {
    max-width: 300px;
    /*margin-top: 200px; */
  }

  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 16vw;
    line-height: 16vw;
    font-weight: 900;
    color: #e9e0c2;
    line-height: auto;
    letter-spacing: -3px;
  }

  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 10vw;
    line-height: 10vw;
    font-weight: 900;
    color: #e9e0c2;
  }

  h3 {
    font-family: "Raleway", sans-serif;
    font-size: 7vw;
    line-height: 7vw;
    font-weight: 700;
    color: #e9e0c2;
  }

  h4 {
    font-family: "Raleway", sans-serif;
    font-size: 4vw;
    line-height: 4vw;
    font-weight: 700;
    color: #e9e0c2;
  }

  p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    min-width: 16px;
    color: #e9e0c2;
    line-height: 30px;
  }

  a {
    font-size: 5vw;
    line-height: 5vw;
  }

  #contacth2 {
    margin: 0;
    margin-top: 150px;
  }

  #contacth4 {
    margin: 0;
    margin-top: 5px;
  }

  form {
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  label {
    font-family: "Raleway", sans-serif;
    font-size: 4vw;
    line-height: 4vw;
    font-weight: 700;
    color: #e9e0c2;
  }

  :placeholder-shown {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #100d17;
  }

  input,
  textarea {
    padding: 5px;
    padding-left: 20px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #e9e0c2;
    line-height: 30px;
    background-color: #221c31;
    text-decoration: none;
    border: none;
    margin-bottom: 15px;
  }

  input.name {
    width: 53vw;
  }

  input.email {
    width: 53vw;
  }

  textarea.Message {
    width: 70vw;
  }

  button.shake {
    display: flex;
    width: 36vw;
    min-width: fit-content;
    color: #1e1e1e;
    font-weight: 500;
    padding: 5px;
    padding-left: 32px;
    padding-right: 16.16px;
    outline: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    justify-content: space-between;
    background-color: #987701;
    border-radius: 60px;
    font-family: "Raleway", sans-serif;
    font-size: 4vw;
    line-height: 4vw;
    font-weight: 700;
    color: #100d17;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    margin-bottom: 15px;
  }

  #sendicon {
    width: 5.55vw;
  }

  #submissionB {
    display: flex;
    align-items: flex-start;
  }

  section.contactC {
    z-index: -100;
    grid-column: 1;
    margin-left: 99px;
    grid-row: 1;
  }

  section.contactCflex {
    flex-direction: column;
    margin-top: 150px;
  }

  #contactC {
    position: fixed;
  }

  img.footvector {
    display: flex;
    align-self: start;
    margin-bottom: -2px;
    margin-left: 0px;
  }

  footer {
    padding-bottom: 6vh;
    height: 107px;
  }

  section.footer {
    margin-top: 40px;
    margin-right: 10vw;
    margin-bottom: 50px;
  }

  .footercopyright {
    align-items: flex-end;
    margin-bottom: 0px;
  }

  .footertxtsize {
    font-size: 8px;
    align-self: flex-end;
  }

  #email {
    font-size: 4vw;
    line-height: 4vw;
  }

  #linkedInLogo {
    width: 20vw;
    transition: 0.5s ease;
  }

  /* Resize the menu width here */
  :root {
    --width: 52px;
  }

  .wrapper {
    height: 100%;
    margin-right: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
  }

  .hamburger-menu-button {
    position: relative;
    width: var(--width);
    height: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .hamburger-menu,
  .hamburger-menu::after {
    position: absolute;
    height: calc(0.125 * var(--width));
    border-radius: calc(0.15 * var(--width));
    background-color: #987701;
    transition: all 0.25s ease-in-out;
  }

  .hamburger-menu {
    width: calc(0.75 * var(--width));
    transform: translateY(calc(-0.125 * var(--width)));
  }

  .hamburger-menu::after {
    position: absolute;
    width: calc(0.375 * var(--width));
    transform: translateY(calc(0.25 * var(--width)));
    content: "";
  }

  .open {
    transform: translateY(0px) rotate(45deg);
  }

  .open::after {
    width: calc(0.75 * var(--width));
    transform: translateY(0px) rotate(-90deg);
  }

  .mobilevector {
    right: 0;
  }

  #mobileNav {
    top: 11vh;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1000;
  }

  #mobileNavItems {
    display: none;

    flex-direction: column;
    background-color: #221c31;
    height: 60vh;
    width: 35vw;
    border-bottom-left-radius: 50px;
    padding-left: 5vw;
    justify-content: space-around;
  }
}

@media screen and (min-width: 602px) and (max-width: 1290px) {
#dunneHereVid {
  width: 58vw;
}

  .workbilineM {
    margin: 0;
  }

  #logoAnimationVid {
  width: auto;
  height: 100vh;
}

  #illusMidline {
    margin: 0;
    margin-top: 275px;
  }

  .land_illus {
    max-width: 60vw;
  }

  .workbilineMtop {
    margin: 0;
    margin-top: 251px;
    margin-bottom: -12px;
  }

  .workbilineMbot {
    margin: 0;
  }

  body {
    background-color: #100d17;
    display: grid;
    grid-template-columns: minmax(min-content, 167px) 1fr;
    grid-template-rows: repeat(1, 1fr) auto;
    /*grid-template-rows: repeat(5, 1fr) auto; */
    min-height: 100vh;
    margin: 0px;
  }

  body#illusBod {
    grid-template-rows: repeat(2, 1fr) auto;
  }

  body.grid2 {
    grid-template-columns: minmax(min-content, 167px) 1fr;
    grid-template-rows: 1fr auto;
  }

  body.grid3 {
    grid-template-columns: minmax(min-content, 167px) 1fr;
    grid-template-rows: 1fr auto;
  }

  section.rCgrid {
    margin-top: 40px;
    grid-row: 1;
    grid-column: 2;
    z-index: -1;
  }

  section.rCflex {
    display: flex;
    overflow: hidden;
    top: 10px;
  }

  .rotatingC {
    z-index: -100;
    width: 50vw;
    height: 50vw;
    align-self: center;
    position: fixed;
  }

  section.twoAB {
    grid-column: 2;
    max-width: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    grid-row: 1 / 3;
  }

  section.twoAB2 {
    overflow-x: hidden;
    grid-column: 2;
    max-width: 100%;
    margin-left: 50px;
    margin-right: 50px;
    grid-row: 1 / 3;
  }

  section.contacttwo {
    grid-column: 2;
    overflow-x: hidden;
    max-width: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    grid-row: 1 / 3;
  }

  .portimg1 {
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  section.threeAB {
    grid-column: 2;
    grid-row: 1;
    z-index: 100;
  }

  .aboutimg {
    display: none;
    align-self: center;
    justify-content: center;
    margin-top: 180px;
    z-index: 100;
  }
  #aboutimg {
    z-index: 100;
    margin-left: 4px;
    width: 50vw;
  }

  .aboutimgMobile {
    display: contents;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 200px;
    z-index: 100;
  }

  #abouth2 {
    margin: 0;
    margin-top: 4vh;
    margin-bottom: 5px;
  }

  .aboutC {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1/2;
    z-index: -100;
  }

  #aboutC {
    position: fixed;
    width: 200vw;
    align-self: center;
  }

  section.one {
    display: none;
  }

  section.two {
    max-width: fit-content;
    margin-left: 60px;
    grid-column: 2;
    grid-row: 1;
    overflow-x: hidden;
  }

  section.three {
    grid-row: 2;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.four {
    grid-row: 3;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.five {
    grid-row: 4;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.six {
    grid-row: 5;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.seven {
    grid-row: 6;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.eight {
    grid-row: 7;
    grid-column: 2;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 100;
    max-width: 100vw;
    overflow-x: hidden;
  }

  section.eightillus {
    grid-row: 7;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.nine {
    grid-row: 8;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.ten {
    grid-row: 9;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.eleven {
    grid-row: 10;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.twelve {
    grid-row: 11;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.thirteen {
    grid-row: 12;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.fourteen {
    grid-row: 13;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.fifteen {
    grid-row: 14;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.sixteen {
    grid-row: 15;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.seventeen {
    grid-row: 16;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.eighteen {
    grid-row: 17;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.nineteen {
    grid-row: 18;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.twenty {
    grid-row: 19;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.twentyone {
    grid-row: 20;
    grid-column: 2;
    z-index: 100;
    overflow-x: hidden;
  }

  section.footersection {
    grid-row: 100;
    grid-column: 2;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 100;
    max-width: 100vw;
    overflow-x: hidden;
  }

  #workbiline {
    position: relative;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .porttxt {
    margin-top: 0px;
    z-index: 100;
    margin-left: 70px;
  }

  .porttxtT {
    margin: 0;
    z-index: 100;
    margin-left: 70px;
    margin-top: 15px;
  }

  .porttxtD {
    margin: 0;
    margin-top: 12px;
    margin-left: 70px;
    z-index: 100;
    margin-right: 61px;
  }

  .webTxtT {
    margin: 0;
    margin-left: 70px;
    z-index: 100;
    margin-right: 50px;
    margin-top: 15px;
  }

  .webTxtD {
    margin: 0;
    margin-top: 12px;
    margin-left: 70px;
    z-index: 100;
    margin-right: 61px;
  }

  .webTxt {
    margin: 0;
    margin-left: 70px;
    z-index: 100;
    margin-right: 61px;
  }
}

body.webProjBody {
  background-color: #100d17;
  display: grid;
  grid-template-columns: minmax(min-content, 167px) 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  margin: 0px;
}
